Data/meshes/animtextdata/tables/graphs/furniture.agx
Data/meshes/animtextdata/tables/graphs/furniturepilotseat.agx
Data/meshes/animtextdata/tables/graphs/ladder.agx
Data/meshes/animtextdata/tables/graphs/specialhybridopenclose01.agx
